                    /* .header {
                        padding: 40px 70px;
                        position: relative;
                        z-index: 10;
                    } */
                    
                    .signUpBasicHeader {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 20px;
                        height: 60px;
                        /* border-bottom: 1px solid; */
                    }
                    
                    .signInBasicHeader .brand-container {
                        display: block;
                    }
                    
                    .simpleContainer .site-header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: 1000;
                    }
                    
                    .brand-container {
                        height: 45px;
                        width: 167px;
                    }
                    
                    .brand-container .site-logo {
                        height: 100%;
                        width: 100%;
                    }
                    
                    .site-header-button a {
                        color: #32373b;
                        background: #00ff00;
                        padding: 8px 18px;
                        border-radius: 15px;
                    }
                    
                    .simpleContainer {
                        width: 100%;
                        height: 110vh;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                    .simpleContainer::before {
                        content: '';
                        background: rgba(0, 0, 0, 0.5);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                    
                    .simpleContainer .container-background {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        object-fit: cover;
                        z-index: 10;
                    }
                    
                    .centreContainer {
                        padding: 60px;
                        z-index: 100;
                        position: relative;
                        width: 550px;
                        height: 600px;
                        margin-left: 50%;
                        background: rgba(0, 0, 0, 0.75);
                        border-radius: 10px;
                        box-sizing: border-box;
                        transform: translateX(-50%);
                        margin-bottom: 50px;
                        margin-top: 70px;
                    }
                    
                    .centreContainer h2 {
                        font-size: 25px;
                        color: #fff;
                        margin-top: -15px;
                    }
                    
                    .stepHeader-body div label {
                        color: #00ff00;
                        font-size: 16px;
                    }
                    
                    .stepHeader-body div input:last-child {
                        margin-bottom: 35px;
                    }
                    
                    .centreContainer input {
                        height: 40px;
                        width: 100%;
                        border-radius: 3px;
                        color: #fff;
                        background: #32373b;
                        border: 1px solid #32373b;
                        padding-left: 15px;
                        box-sizing: border-box;
                        outline: none;
                    }
                    
                    .group {
                        margin-bottom: -10px;
                        margin-top: 5px;
                    }
                    
                    .submitBtnContainer button {
                        border: none;
                        height: 50px;
                        font-weight: 500;
                        font-size: 20px;
                        cursor: pointer;
                        line-height: 1;
                        border-radius: 4px;
                        width: 100%;
                        padding: 0.7rem 25.3333px;
                        background-color: #00ff00;
                        color: #32373b;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
                        letter-spacing: 0.025rem;
                        text-align: center;
                    }
                    
                    .submitBtnContainer button:hover {
                        background-color: #43ff43;
                    }
                    
                    .remember_me {
                        display: flex;
                        align-items: center;
                    }
                    
                    .remember_me span {
                        margin-right: 10px;
                        height: 10px;
                    }